footer{
    display: flex;
    position:fixed;
    width: 70%;
    bottom:0;
    justify-content: center;
    padding: 5px;
    background-color: #222;
    color: #9d9d9d;
}


.page{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left : 15%;
    margin-right: 15%;
}

a{
    text-decoration: none;
}


label{
    margin-right: 10pX;
}


.Produit{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.ImageProduit{
    width: 200px;
    margin-right: 20px;
    border-radius: 10px;
}

.Commentaire{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.ImageCommentaire{
    width: 75px;
    margin-right: 20px;
}

.ProduitPanier{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}


.ligne_form{
    margin-bottom: 15px;
}

input{
    margin-right: 15px;
}

.mail{
    width : 25%;
}

.row{
    display: flex;
    flex-direction: row;
}

.marginLeft{
    margin-left: 20px;
}

.Alert{
    color: crimson;
}

.Commande{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    border-top: solid 2px #9d9d9d;
    padding-top: 10px;
}

.Achat{
    margin-top: 20px;
}

.margeTop{
    margin-top: 25px;
}

.BoutonConfirmer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}