body{
    display: flex;
    flex-direction: column;
}

.page{
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left : 20vw;
    margin-right: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 81vh;
}

footer{
    flex-shrink: 0;
}

.bg-gold{
    background-color: #fec345;
}

a{
    text-decoration: none;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-right: 10pX;
}


.Produit{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.ImageProduit{
    width: 15vw;
    margin-right: 20px;
    border-radius: 10px;
}

.InfoProduit{
    width: 45vw;
}

.ImageProduitGrande{
    width: 20vw;
    margin-right: 20px;
    border-radius: 10px;
}

.ImageProduitMoyenne{
    width: 10vw;
    margin-right: 20px;
    border-radius: 10px;
}

.ImageProduitPetit{
    height: 8vh;
    margin-right: 20px;
    border-radius: 10px;
}

.Commentaire{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.ImageCommentaire{
    width: 130px;
    margin-right: 20px;
}

.ProduitPanier{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.separateur{
    border-radius: 2px;
    height: 4px;
    width: 100%;

    margin-top: 3vh;
    margin-bottom: 3vh;
}

.ligne_form{
    margin-bottom: 15px;
}

.mail{
    width : 25%;
}

.ligne{
    display: flex;
    flex-direction: row;
}

.tier{
    width : 20vw;
}

.marginLeft{
    margin-left: 20px;
}

.Alert{
    color: crimson;
}

.Commande{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    border-top: solid 2px #9d9d9d;
    padding-top: 10px;
}

.Achat{
    margin-top: 20px;
}

.margeTop{
    margin-top: 25px;
}

.BoutonsConfirmer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mr-1{
    margin-right: 10px;
}

.mr-3{
    margin-right: 30px;
}

.large{
    width: 60vw;
}

.space{
    display: flex;
    justify-content: space-around;
}